name: Build Develop

on: [ push ]
env:
  COMPOSER_VERSION: '2.7.7'
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  build:
    name: Build PHP ${{ matrix.php-version }} Alpine ${{ matrix.alpine-version }}
    runs-on: '${{ matrix.os }}'
    env:
      ALPINE_VERSION: '${{ matrix.alpine-version }}'
      PHP_VERSION: '${{ matrix.php-version }}'
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        php-version: [ '8.1', '8.2', '8.3' ]
        alpine-version: [ '3.16', '3.17', '3.18', '3.19', '3.20', 'edge' ]
        exclude:
          - php-version: '8.3'
            alpine-version: '3.16'
          - php-version: '8.3'
            alpine-version: '3.17'
          - php-version: '8.3'
            alpine-version: '3.18'
          - php-version: '8.2'
            alpine-version: '3.16'
          - php-version: '8.2'
            alpine-version: '3.17'
          - php-version: '8.1'
            alpine-version: '3.20'
          - php-version: '8.1'
            alpine-version: 'edge'
      max-parallel: 8
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Fetch the PHP BUILD VERSION
        id: fetch-php-build-version
        shell: php {0}
        run: |
          <?php
          $alpineVersion = getenv('ALPINE_VERSION');
          $phpVersion = getenv('PHP_VERSION');
          $version = match($phpVersion){
              '8.1' => '81',
              '8.2' => '82',
              '8.3' => '83',
              default => substr($phpVersion, 0, 1)
          };
          echo "::set-output name=version::" . $version . PHP_EOL;
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: limingxinleo
          password: ${{ secrets.DOCKERHUB_ACCESSTOKEN }}
      - name: Build and export to Docker
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.php-version }}/alpine/dev
          load: true
          tags: hyperf/hyperf:${{ matrix.php-version }}-alpine-v${{ matrix.alpine-version }}-dev
          build-args: |
            "ALPINE_VERSION=${{ matrix.alpine-version }}"
            "COMPOSER_VERSION=${{ env.COMPOSER_VERSION }}"
            "PHP_BUILD_VERSION=${{ steps.fetch-php-build-version.outputs.version }}"
      - name: Check
        run: |
          docker run --entrypoint php hyperf/hyperf:${{ matrix.php-version }}-alpine-v${{ matrix.alpine-version }}-dev -v
      - name: Push
        if: ${{ github.ref == 'refs/heads/build' }}
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.php-version }}/alpine/dev
          push: true
          platforms: linux/amd64,linux/arm64
          tags: hyperf/hyperf:${{ matrix.php-version }}-alpine-v${{ matrix.alpine-version }}-dev
          build-args: |
            "ALPINE_VERSION=${{ matrix.alpine-version }}"
            "COMPOSER_VERSION=${{ env.COMPOSER_VERSION }}"
            "PHP_BUILD_VERSION=${{ steps.fetch-php-build-version.outputs.version }}"

