name: Build Develop

on: [ push ]
env:
  COMPOSER_VERSION: '2.2.9'
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  build:
    name: Build PHP ${{ matrix.php-version }} Alpine ${{ matrix.alpine-version }}
    runs-on: '${{ matrix.os }}'
    env:
      ALPINE_VERSION: '${{ matrix.alpine-version }}'
      PHP_VERSION: '${{ matrix.php-version }}'
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        alpine-version: [ '3.10', '3.11', '3.12', '3.13', '3.14', '3.15' ]
        php-version: [ '7.3', '7.4', '8.0', '8.1' ]
        exclude:
          - php-version: '7.3'
            alpine-version: '3.12'
          - php-version: '7.3'
            alpine-version: '3.13'
          - php-version: '7.3'
            alpine-version: '3.14'
          - php-version: '7.3'
            alpine-version: '3.15'
          - php-version: '8.0'
            alpine-version: '3.10'
          - php-version: '8.1'
            alpine-version: '3.10'
          - php-version: '8.1'
            alpine-version: '3.11'
      max-parallel: 8
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build
        run: docker-compose build alpine-dev
      - name: Login
        run: docker login --username limingxinleo -p ${{ secrets.DOCKERHUB_ACCESSTOKEN }}
      - name: Push
        run: docker push hyperf/hyperf:${PHP_VERSION}-alpine-v${{ matrix.alpine-version }}-dev

